body{
  font-family: 'EB Garamond', serif;

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  color: green;
}
.sdg-logo{
  width:40%;
  padding-top: 50px;
}
.download-button{
margin: 5% 3% 0% 0%;
margin-left: 120px;
}
.heading{
  text-align: center;
  padding-top: 100px;

  font-size: 2rem;
  color:green;

}
.sub-heading{
  text-align: center;
  color: green;
  font-size: 1.5rem;
}
.top-container{
  padding-top: 100px;
  background-color: #FAECD6;
  padding-bottom: 100px;
}
.banarus{
 padding-top: 50px;
  padding-left: 20px;
  width: 30%;
  transform: translate(400px);

}
.middle-container{
  background-color:#B5D5C5;
  background-image: url("./images/background.png")
}
.m-heading{
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
.test-img{
  width: 80%;
  padding-left: 400px;
}
.sdg-text{
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
#conference{

  padding: 0;
  background:#FAECD6;
  overflow: hidden;
  font-family: 'Oswald',sans-serif;
  text-align: center;
}
.frame{
  position: relative;
  width: 430px;
  height: 580px;
  padding: 6px;
  background: #FFF;
  margin:80px auto;
}
.shadow-top{
  position: absolute;
  left: -50px;
  width:0;
  height: 0;
  border-bottom: 555px solid #bbb;
  border-left: 50px solid transparent;
}
.shadow-bottom{
  position: absolute;
  left: -50px;
  bottom: 0;
  width:0;
  height:0;
  border-top: 20px solid #aaa;
  border-left: 50px solid transparent;
}
.canvas{
  position: relative;
  padding: 30px;
  width: 420px;
  height: 568px;
  background: #D3756B;
  box-shadow: inset -2px 2px 0 #777;

}
.p-heading{

  font-size: 2rem;


}

.ground  {
  background-color: #82CD47;
  color: #222;
  line-height: 0;
  padding-top: 300px;
}
.text-box{
  font-family: 'Garamond', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color:green;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  border-radius: 10px;
}
hr{
  border: 10px solid green;
  border-radius: 5px;
}
#footer{
text-align: center;
padding-top: 50px;
background-color: #3C4048;
}
.copyright{
  font-weight: bold;
  color: white;
}
.R{
  margin-left: 50px;

}
